<span class="req">*</span><span class="required">denotes required form fields.</span><br><br></p>
				<form class="form-horizontal" action="https://email.walbottlevillagetra.co.uk/formmail.php" method="post" name="Enquiry" data-toggle="validator" role="form">
					<input type="hidden" name="recipients" value="peter@petersweb.me.uk" />
					<!-- this derives (creates) "email" and "realname" special fields from the input fields -->
				    <input type="hidden" name="derive_fields" value="email=Email_Address,realname=Full_Name" />
					<!-- this excludes the "email" and "realname" special fields from the body of the email you receive -->
					<input type="hidden" name="mail_options" value="Exclude=email;realname" />
					<input type="hidden" name="subject" value="WVT&RA Website Enquiry" />
					<input type="hidden" name="good_url" value="https://www.walbottlevillagetra.co.uk/thanks/" />
					<div class="form-group has-feedback">
						<label for="name" class="col-sm-2 control-label">Your name<span class="req">*</span></label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="realname" name="Full_Name" placeholder="Your full name" data-error="Please enter your full name" required>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="form-group has-feedback">
						<label for="location" class="col-sm-2 control-label">Location</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="location" name="Location" placeholder="Your town or village (optional)" data-validate="false" >
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">Your email<span class="req">*</span></label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" name="Email_Address" placeholder="Email" data-error="Please enter a correctly formatted email address" required>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="message" class="col-sm-2 control-label">Message<span class="req">*</span></label>
						<div class="col-sm-10">
							<textarea class="form-control" id="message" name="Message" rows="6" placeholder="Your message" data-error="Please enter your message" required></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">	
							<button type="submit" class="btn button block pull-right">Send message</button>
						</div>
					</div>
				</form>