<div class="container-fluid footer">
	<div class="row"> <!-- row -->
		<div class="col-xs-7">
			<ul class="pull-left">
				<li><a href="{{ '/' | relative_url}}" title="home page" target="_self" class="home" accessKey="h">Home</a></li>
				<li><a href="{{ '/actity_groups/access/' | relative_url}}" title="activity groups" target="_self" class="activity" accessKey="g">Activity Groups</a></li>
				<li><a href="{{'/history/festival' | relative_url }}" title="History of Walbottle" target="_self" class="history" accesskey="w">Walbottle History</a></li>
				<li><a href="{{'/news/' | relative_url}}" title="latest news and events" target="_self" class="news" accesskey="n">News &amp; Events</a></li>
				<li><a href="{{'/shop' | relative_url}}" title="online shop" target="_self" class="shop" accesskey="s">Shop</a></li>
				<li><a href="{{'/about_us/' | relative_url}}" title="about WVT&R Association" target="_self" class="about" accesskey="u">About Us</a></li>
				<li><a href="{{/contact/ | relative_url}}" title="contact WVT&R Association" target="_self" class="contact" accesskey="c">Contact</a></li>
			</ul>
		</div>
		<div class="col-xs-5">
			<ul class="pull-right">
				<li><a href="{{'/accessibility/' | relative_url}}" title="site accessibility and access keys" target="_self" class="accessibility" accessKey="a">Accessibility &amp; Site Map</a></li>
				<li><a href="{{'/privacy/' | relative_url}}" title="our privacy and cookie policy" target="_self" class="privacy" accesskey="p">Privacy &amp; Cookie Policy</a></li>
			</ul>
		</div>
	</div> <!-- /row -->
	<div class="row"> <!-- row -->
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-left">
            <p class="pull-left">Copyright &copy; {{ site.time | date: '%Y' }} Walbottle Village Tenants &amp; Residents Association</p>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-right">
			<p class="">Website powered by <a href="https://www.petersweb.me.uk/" title="visit Peters Web in a new window" target="_blank">Peters Web</a> &nbsp; | &nbsp; Designed by <a href="https://clockwork-design.co.uk" title="visit Clockwork Design in a new window" target="_blank">Clockwork Design</a></p>
		</div>
	</div> <!-- /row -->
</div> <!-- /container-fluid -->