<div class="row">
    <div class="col-xs-12">
    
    </div>
</div>
<div class="row">
    <div class="col-xs-7">
    <ul class="pull-left">
        <li><a href="index.html" title="home page" target="_self" class="home" accessKey="h">Home</a></li>
        <li><a href="#" title="activity groups" target="_self" class="activity" accessKey="g">Activity Groups</a></li>
        <li class="dropdown"><a href="#" title="History of Walbottle" target="_self" class="dropdown-toggle history" data-toggle="dropdown" accesskey="w">Walbottle History</a></li>
        <li><a href="#" title="latest news and photo gallery" target="_self" class="news" accesskey="n">News &amp; Gallery</a></li>
        <li><a href="#" title="online shop" target="_self" class="shop" accesskey="s">Shop</a></li>
        <li><a href="#" title="about WVT&R Association" target="_self" class="about" accesskey="a">About Us</a></li>
        <li><a href="#" title="contact WVT&R Association" target="_self" class="contact" accesskey="c">Contact</a></li>
    </ul>
    </div>
    <div class="col-xs-5">
    <ul class="pull-right">
        <li><a href="#" title="site accessibility and access keys" target="_self" class="access" accessKey="">Accessibility</a></li>
        <li><a href="#" title="our terms and conditions" target="_self" class="terms" accessKey="">Terms &amp; Conditions</a></li>
        <li class="dropdown"><a href="#" title="History of Walbottle" target="_self" class="dropdown-toggle history" data-toggle="dropdown" accesskey="w">Cookie &amp; Privacy Policy</a></li>
    </ul>
    </div>
    </div>

    <div class="row">
    <div class="col-xs-6">
        <p class="pull-left">Copyright &copy; {{ site.time | date: '%Y' }} Walbottle Village Tenants &amp; Residents Association</p>
    </div>
    <div class="col-xs-6">
        <p class="">Website powered by <a href="https://www.petersweb.me.uk/" title="visit Peters Web in a new window" target="_blank">Peters Web</a> &nbsp; | &nbsp; Designed by <a href="https://clockwork-design.co.uk" title="visit Clockwork Design in a new window" target="_blank">Clockwork Design</a></p>
    </div>
    </div>