 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Cookie banner-->
    <script id="CookieDeclaration" src="https://consent.cookiebot.com/12a2999f-ede7-46d0-af24-d3e3427291e9/cd.js" type="text/javascript" async></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{'assets/js/ie10-viewport-bug-workaround.js' | relative_url}} "></script>

  <!--captcha-->
  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
  </head>