 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{'assets/js/ie10-viewport-bug-workaround.js' | relative_url}} "></script>

   <!--captcha-->
   <script src="https://js.hcaptcha.com/1/api.js" async defer></script>

	
	<!-- Image Slider -->
	<script>
		function cycleImages(){
			  var $active = $('#cycler .active');
			  var $next = ($active.next().length > 0) ? $active.next() : $('#cycler img:first');
			  $next.css('z-index',2);//move the next image up the pile
			  $active.fadeOut(1500,function(){//fade out the top image
			  $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
				  $next.css('z-index',3).addClass('active');//make the next image the top one
			  });
			}

		$(document).ready(function(){
		// run every 7s
		setInterval('cycleImages()', 7000);
		})
			  
   </script>
	
	<!-- Initiate light slider -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
	<script type="text/javascript">
	  $(document).ready(function() {
		  var slider = $('#lightSlider').lightSlider({
			  item: 3,
		slideMove: 1, // slidemove will be 1 if loop is true
        slideMargin: 30,
		speed: 2000,
		pager:false,
		keyPress:false,
		controls:false,
		responsive: [
			{
				breakpoint:1200,
				settings: {
					item:3,
					slideMove:3,
					slideMargin:50,
					speed: 1000,
				}
			},{
				breakpoint:992,
				settings: {
					item:2,
					slideMove:2,
					slideMargin:50,
					speed: 1000,
				}
			},{
				breakpoint:768,
				settings: {
					item:1,
					slideMove:1,
					speed: 500,
				}
			}
		],
    controls: false
});
$('#goToPrevSlide').on('click', function () {
    slider.goToPrevSlide();
});
$('#goToNextSlide').on('click', function () {
    slider.goToNextSlide();
});
	  });
	</script>
