<div class="container-fluid masthead">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 logo">
            <a href="{{'/' | relative_url}}" title="home page" target="_self"><img src="{{'/assets/images/WalbottleVillageLogo.jpg' | relative_url}}" alt="Walbottle Village Tenants & Residents Association logo" onerror="this.onerror=null; this.src={{'assests/images/WalbottleVillageLogo.jpg' | relative_url}} class="img-responsive"/></a>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 info">
            <ul class="social col-lg-12 col-md-12">
                <li><a href="https://www.facebook.com/profile.php?id=61569685992092" title="visit our Facebook group in a new window" target="_blank" accesskey="f"><img src="{{'/assets/images/facebook.png' | relative_url}}" width="auto" height="26px" alt="facebook logo"> Our Facebook Group</a></li>
                <li><a href="mailto:walbottlera@gmail.com" title="email Walbottle Village News" accesskey="e"><img src="{{'/assets/images/email.png' | relative_url}}" width="auto" height="26px" alt="email icon"> Email Walbottle Village News</a></li>
            </ul>
            <div class="col-lg-12 col-md-12">
                <h1>Walbottle Village News</h1>
            </div>
        </div>
    </div>
</div> <!-- /container-fluid -->
