<div id="socials" class="right">
    <div id="facebook">
        <i class="fa-brands fa-facebook"></i> <a href="#">Join our Facebook Group</a>
</div>
    <div id="email">
        <i class="fa-regular fa-envelope"></i> <a href="#">Email us</a>
    </div>
</div>
<div id="logo">
    <img src={{'/assets/images/WVTRA_logo.png' | relative_url}}
</div>

<div id="site-nane" class="right">
    <p>Walbottle Village news</p>
</div>
<nav>
    <ul>
        <li> <a href="">home</a></li>
        <li> <a href="">actity groups</a></li>
        <li> <a href="">Walbottle history</a></li>
        <li> <a href="">home</a></li>
        
    </ul>
</nav>