
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
</div>
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
    <li><a href="{{ '/' | relative_url}}" title="home page" target="_self" class="home" accessKey="h">Home</a></li>
    <li class="dropdown">
        <a href="{{ '/actity_groups/' | relative_url}}" title="activity groups" target="_self" class="dropdown-toggle activity" data-toggle="dropdown" accessKey="g" class="dropdown-toggle activity">Activity Groups <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{'/about_us/access/' | relative_url}}" title="access Group" target="_self" class="ag-access" accessKey="">Access Group</a></li>
            <li><a href="{{'/about_us/gardening/' | relative_url}}" title="gardening group" target="_self" class="ag-garden" accessKey="">Gardening Group</a></li>
            <li><a href="{{'/about_us/kids-corner/' | relative_url}}" title="kids corner" target="_self" class="ag-kids" accessKey="">Kids Corner</a></li>
            <li><a href="#" title="neighbourhood watch" target="_self" class="activity" accessKey="">Neighbourhood Watch</a></li>
            <li><a href="#" title="photography group" target="_self" class="ag-photo" accessKey="">Photography Group</a></li>
            <li><a href="{{'/about_us/choir/' | relative_url}}" title="Walbottle choristers group" target="_self" class="ag-choir" accessKey="">Walbottle Choristers</a></li>
            <li><a href="{{'/about_us/walbottle_walks/' | relative_url}}" title="Walbottle walks group" target="_self" class="ag-walks" accessKey="">Walbottle Walks</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#" title="History of Walbottle" target="_self" class="dropdown-toggle history" data-toggle="dropdown" accesskey="w">Walbottle History<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#" title="Walbottle Festival 2022" target="_self" class="h-festival" accessKey="">Walbottle Festival 2022</a></li>
            <li><a href="#" title="Walbottle Voices" target="_self" class="h-voices" accessKey="">Walbottle Voices</a></li>
            <li><a href="#" title="maps of Walbottle village" target="_self" class="h-maps" accessKey="">Maps</a></li>
            <li><a href="#" title="old photos of Walbottle village" target="_self" class="h-photos" accessKey="">Photos</a></li>
            <li><a href="#" title="about Walbottle primary school" target="_self" class="h-primary" accessKey="">Walbottle Primary School</a></li>
            <li><a href="#" title="about Walbottle campus" target="_self" class="h-campus" accessKey="">Walbottle Campus</a></li>
        </ul>
    </li>
    <li><a href="{{'/blog/' | relative_url}}" title="latest news and photo gallery" target="_self" class="news" accesskey="n">News &amp; Gallery</a></li>
    <li><a href="{{'/shop/' | relative_url}}" title="online shop" target="_self" class="shop" accesskey="s">Shop</a></li>
    <li><a href="{{'/about_us/' | relative_url}}" title="about WVT&R Association" target="_self" class="about" accesskey="a">About Us</a></li>
    <li><a href="{{/contact/ | relative_url}}" title="contact WVT&R Association" target="_self" class="contact" accesskey="c">Contact</a></li>
    
    <li class="visible-xs"><a href="https://www.facebook.com/groups/wvtra" title="contact WVT&R Association" target="_self" class="contact" accesskey="c">Our Facebook Group</a></li>
    <li class="visible-xs"><a href="#" title="contact WVT&R Association" target="_self" class="contact" accesskey="c">Email Walbottle Village News</a></li>
</ul>
</div><!--/.nav-collapse -->