<div class="container-fluid photoPanel">
	<div class="row">
		<div class="basePhoto01 col-sm-4 col-xs-6">
			<img src="{{'assets/images/basePic01.jpg' | relative_url}}" class="img-responsive" alt="Walbottle Dene" loading="lazy"/>
		</div>
		<div class="basePhoto02 col-sm-4 col-xs-6">
			<img src="{{'assets/images/basePic02.jpg' | relative_url}}" class="img-responsive" alt="A brick from Walbottle brickworks" loading="lazy"/>
		</div> 
    		<div class="basePhoto03 col-sm-4 col-xs-0 hidden-xs">
    			<img src="{{'assets/images/basePic03.jpg' | relative_url}}" class="img-responsive" alt="Walbottle Village Institute" loading="lazy"/>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>
</div>
