<div class="row">
    <div class="col-md-2 col-sm-3 col-xs-5 logo">
        <a href="{{'/' | relative_url}}" title="home page" target="_self"><img src="{{'assets/images/WalbottleVillageLogo.svg' | relative_url}}" alt="Walbottle Village Tenants & Residents Association logo" onerror="this.onerror=null; this.src="{{'assests/images/WalbottleVillageLogo.svg' | relative_url}}" class="img-responsive"/></a>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-7 pull-right info hidden-xs">
        <div class="detail col-lg-12 col-md-12">
      <ul class="social pull-right">
        <li><a href="#" title="visit our Facebook group in a new window" target="_blank"><img src="{{'assets/images/facebook.png' | relative_url}}" width="auto" height="30px" alt="facebook logo"> Our Facebook Group</a></li>
        <li><a href="mailto:" title="email Walbottle Village News" target="_blank"><img src="{{'assets/images/email.png' | relative_url}}" width="auto" height="30px" alt="email icon"> Email Walbottle Village News</a></li>
      </ul>
        </div>
        <div class="col-lg-12">
        <h1 class="hidden-sm hidden-xs">Walbottle Village News</h1>
        </div>
    </div>
    <div class="col-xs-12 hidden-lg hidden-md"><h1>Walbottle Village News</h1></div>
</div>
