<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&family=Tiro+Telugu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- light Slider CSS file -->
<link rel="stylesheet" href="{{ '/assets/css/lightslider.css' | relative_url }} />
<link rel="stylesheet" href="{{ '/assets/css/master.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/prettify.css' | relative_url }}">
<!--cookie bot-->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="12a2999f-ede7-46d0-af24-d3e3427291e9" type="text/javascript" async></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel="stylesheet" href="{{ '/assets/css/ie10-viewport-bug-workaround.css' | relative_url }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
