$color_1: #484848;
$color_2: #6c6c6c;
$color_3: inherit;
$color_4: #000;
$color_5: #fff;
$color_6: rgba(255,255,255,100);
$color_7: #f6e04f;
$color_8: #088137;
$font-family_1: 'Source Sans 3', sans-serif;
$font-family_2: 'Tiro Telugu', serif;
$background-color_1: #088137;
$border-color_1: transparent;

/* Stop iOS decorating tel numbers */
/* .col-md */
/* .col-sm */
/* .col-xs */
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
body {
	background: #fff;
	font-family: $font-family_1;
	font-weight: 400;
	color: $color_1;
}
p {
	font-size: 120%;
	margin: 0;
	padding: 0;
}
li {
	font-size: 120%;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 200%;
	font-family: $font-family_2;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 300%;
	font-family: $font-family_2;
	font-weight: 100;
	margin: 0;
	padding: 0 0 10px 0;
}
h5 {
	font-size: 125%;
	font-family: $font-family_2;
	color: $color_2;
	font-style: italic;
}
strong {
	font-weight: 600;
}
a {
	&:hover {
		transition: linear 0.2s color;
		-webkit-transition: linear 0.2s color;
		-moz-transition: linear 0.2s color;
		-o-transition: linear 0.2s color;
		transition: linear 0.2s background-color;
		-webkit-transition: linear 0.2s background-color;
		-moz-transition: linear 0.2s background-color;
		-o-transition: linear 0.2s background-color;
	}
}
a[href^="tel"] {
	color: $color_3;
	text-decoration: none;
}
.masthead {
	background: #fff;
	.row {
		margin: 0 30px 0 30px;
	}
	.logo {
		a {
			text-align: left;
			img {
				height: 140px;
				float: left;
				display: inline-block;
				margin: 8px 0;
				min-height: 140px;
			}
		}
	}
	.info {
		margin-top: 20px;
		div {
			padding-right: 0;
		}
		ul.social {
			li {
				list-style-type: none;
				color: $color_4;
				display: inline-block;
				margin-right: 15px;
				a {
					text-transform: none;
					text-decoration: none;
					color: $color_4;
					display: inline-block;
					font-size: 110%;
					float: left;
				}
				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
	h1 {
		font-size: 500%;
		text-align: right;
		display: block;
		margin-top: 10px;
	}
}
.navigation {
	position: relative;
	z-index: 99999;
	box-shadow: 0px 6px 6px 2px rgba(0,0,0,.5);
	.container {
		position: relative;
		.navbar {
			margin: 0;
			background: none;
			border: none;
			min-height: auto;
		}
	}
}
.navbar-collapse {
	float: right;
	padding-left: 0;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	min-height: 40px;
	padding: 5px 30px 0 15px;
	.container-fluid {
		padding-left: 0;
	}
}
.navbar-default {
	background-color: $background-color_1;
	border-color: $border-color_1;
}
.navbar-nav {
	li {
		margin: 6px 0px 0px;
		line-height: 0;
		border-right: solid #fff 2px;
		a {
			color: $color_5 !important;
			font-size: 110%;
			font-weight: 400;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			padding: 0px 15px 0px;
			&:visited {
				color: $color_6;
			}
		}
		&:last-child {
			border-right: none;
		}
	}
	li.open {
		a {
			background: transparent;
		}
	}
	>li {
		>a {
			&:hover {
				color: $color_7 !important;
			}
		}
	}
}
body#home {
	.navbar-nav {
		li {
			a.home {
				color: $color_7;
			}
		}
	}
}
body#activity {
	.navbar-nav {
		li {
			a.activity {
				color: $color_7;
			}
		}
	}
}
body#history {
	.navbar-nav {
		li {
			a.history {
				color: $color_7;
			}
		}
	}
}
body#news {
	.navbar-nav {
		li {
			a.news {
				color: $color_7;
			}
		}
	}
}
body#shop {
	.navbar-nav {
		li {
			a.shop {
				color: $color_7;
			}
		}
	}
}
body#about {
	.navbar-nav {
		li {
			a.about {
				color: $color_7;
			}
		}
	}
}
body#contact {
	.navbar-nav {
		li {
			a.contact {
				color: $color_7;
			}
		}
	}
}
ul.navbar-nav {
	li {
		&:first-child {
			a {
				padding-left: 0;
			}
		}
	}
}
.welcome {
	background: #f9b22e;
}
.welcomePanel {
	background: #fff;
	padding: 40px 50px;
	margin-top: -90px;
	margin-bottom: 60px;
	box-shadow: 0px 6px 6px 2px rgba(0,0,0,.3);
	position: relative;
	h2 {
		color: $color_8;
	}
	p {
		padding: 0 0 6px 0;
	}
	div {
		position: relative;
		img {
			position: absolute;
			bottom: 0;
			margin-bottom: 10px;
			margin-right: 10px;
		}
	}
}
.whatson {
	background: #e84d5f;
	h2 {
		background: #fff;
	}
}
.footer {
	background: #018bcf;
	padding: 50px 60px 10px 60px;
	p {
		font-size: 100%;
		color: $color_5;
		padding-top: 46px;
	}
	.copyright {
		p {
			text-align: left;
			padding-top: 40px;
		}
	}
	.registered {
		p {
			text-align: right;
			padding-top: 40px;
		}
	}
	ul {
		li {
			font-size: 110%;
			line-height: 100%;
			padding: 4px 0;
			a {
				color: $color_5;
				display: block;
			}
		}
	}
	.bba {
		img {
			max-width: 72px;
			max-height: 72px;
			margin: 0 auto;
		}
		text-align: center;
		p {
			line-height: 110%;
			padding: 8px 25px 0;
		}
	}
	.paypal {
		text-align: center;
		form {
			input {
				text-align: center;
				margin: 0 auto;
			}
			img {
				display: none;
			}
		}
		p {
			line-height: 110%;
			padding: 8px 25px 0;
		}
	}
	.base {
		p {
			padding-top: 8px;
			text-align: left;
			a {
				color: $color_5 !important;
			}
		}
	}
}
.f-linksWrap {
	padding-top: 0;
}
.f-links2 {
	padding: 0;
	ul {
		margin-left: 0px;
		list-style-type: none;
	}
}
.f-links {
	ul {
		margin-left: 0px;
		list-style-type: none;
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.masthead {
		h1 {
			font-size: 5vw;
			text-align: right;
			display: block;
			margin-top: 10px;
		}
	}
	.navbar-nav {
		li {
			a {
				color: $color_5;
				font-size: 100%;
				font-weight: 400;
				letter-spacing: 0em;
				text-transform: uppercase;
				padding: 0px 15px 0px;
			}
		}
	}
}
@media (min-width:768px) and (max-width:991px) {
	.masthead {
		.info {
			ul.social {
				li {
					list-style-type: none;
					color: $color_4;
					display: block;
					margin-right: 0px;
					padding-bottom: 20px;
				}
			}
		}
		h1 {
			font-size: 5vw;
			text-align: right;
			display: block;
			margin-top: 10px;
		}
	}
	ul.social {
		li {
			a {
				padding-bottom: 15px;
			}
		}
	}
	.navbar-nav {
		li {
			a {
				color: $color_5;
				font-size: 80%;
				font-weight: 400;
				letter-spacing: 0em;
				text-transform: uppercase;
				padding: 0px 10px 0px;
			}
		}
	}
}
@media (max-width:767px) {
	.masthead {
		.info {
			ul.social {
				li {
					list-style-type: none;
					color: $color_4;
					display: block;
					margin-right: 0px;
					padding-bottom: 20px;
				}
			}
		}
		h1 {
			font-size: 5vw;
			text-align: right;
			display: block;
			margin-top: 10px;
			font-size: 5vw;
			text-align: right;
			display: block;
			margin-top: 10px;
		}
	}
	ul.social {
		li {
			a {
				padding-bottom: 15px;
			}
		}
	}
	.navbar-nav {
		li {
			a {
				color: $color_5;
				font-size: 80%;
				font-weight: 400;
				letter-spacing: 0em;
				text-transform: uppercase;
				padding: 0px 10px 0px;
			}
		}
	}
	.navbar-collapse {
		float: left;
	}
}
