@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&family=Tiro+Telugu&display=swap');

/*BOTTSTRAP MODS */
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color:#f6e04f !important;
    background-color:transparent !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

body {background:#fff;font-family: 'Source Sans 3', sans-serif; font-weight:400; color:#484848;}
p, li {font-size:120%;margin:0;padding:0;}
h1 {font-size:200%; font-family: 'Tiro Telugu', serif; margin:0;padding:0;}
h2 {font-size:300%; font-family: 'Tiro Telugu', serif; font-weight:100;margin:0;padding:0 0 10px 0;}
h5 {font-size:125%; font-family: 'Tiro Telugu', serif;color:#6c6c6c;font-style:italic;}
strong {font-weight:600;}

a:hover {
	transition:linear 0.2s color;
	-webkit-transition:linear 0.2s color;
	-moz-transition:linear 0.2s color;
	-o-transition:linear 0.2s color;
}
a:hover {
	transition:linear 0.2s background-color;
	-webkit-transition:linear 0.2s background-color;
	-moz-transition:linear 0.2s background-color;
	-o-transition:linear 0.2s background-color;
}

/* Stop iOS decorating tel numbers */
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

.masthead {background: #fff;padding-right:60px;padding-left:60px;}
.masthead .logo a {text-align:left;}
.masthead .logo a img {display:block;margin:8px 0;min-height:140px;max-height:141px;}

.masthead .info {margin-top:20px;}
.masthead .info div {padding-right:0;}
.masthead .info ul.social {width:100%;text-align:right;padding-right:0;}
.masthead .info ul.social li {list-style-type:none;color:#000;display:inline-block;margin-right:15px;}
.masthead .info ul.social li a {text-transform:none;text-decoration:none;color:#000;display:inline-block;font-size:90%;}
.masthead .info ul.social li:last-child {margin-right:0px;}
.navbar-header ul.social2 {display:none;}
.masthead h1 {font-size:450%;text-align:right;display:block;margin-top:14px;}



.navigation {position:relative; z-index:99999;box-shadow: 0px 6px 6px 2px rgba(0,0,0,.5);}
.navigation img {}
.navigation .container {position:relative;}
.navigation .container .navbar {margin:0;background:none;border:none;min-height:auto;}
.navbar-collapse {float:right;}
.navbar {margin-bottom:0;border-radius:0;border:none;min-height:40px;padding:5px 45px 0 15px;}
.navbar-default {background-color:#088137;border-color:transparent;}
.navbar .container-fluid {padding-left:0;}
.navbar-collapse {padding-left:0;}
.navbar-nav li {margin:6px 0px 0px;border-right:solid #fff 2px;}
.navbar-nav li.open a {background:transparent;}
.navbar-nav li a {color:#fff !important;font-size:100%;font-weight:400;letter-spacing:0.05em;text-transform:uppercase;padding:0px 15px 0px;}
.navbar-nav li:last-child {border-right:none !important;}
.navbar-nav li a.contact {padding-right:0;}
.navbar-nav li a:visited {color:rgba(255,255,255,100);}
.navbar-nav > li > a:hover  {color:#f6e04f !important;}
body#home .navbar-nav li a.home, body#activity .navbar-nav li a.activity, body#history .navbar-nav li a.history, body#news .navbar-nav li a.news, body#shop .navbar-nav li a.shop, body#about .navbar-nav li a.about, body#contact .navbar-nav li a.contact {color:#f6e04f !important;}
.dropdown-menu {position: absolute;top: 100%;left: 0;z-index: 1000;display: none;float: left;min-width: 160px;padding: 5px 0;margin: 10px 0 0;font-size: 14px;text-align: left;list-style: none;background-color: rgba(8,129,55,.7);background-clip: padding-box;border: none;border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.navbar-nav>li>.dropdown-menu {margin-top: 5px;border-top-left-radius: 0;border-top-right-radius: 0;}
.dropdown-menu li {border-right:none;margin-top:10px;}
.dropdown-menu li a:hover {color:#f6e04f !important;}

.welcome {background:#f9b22e;}
.welcomePanel {background:#fff;padding:40px 50px;margin-top:-90px;margin-bottom:60px;box-shadow: 0px 6px 6px 2px rgba(0,0,0,.3);position:relative;}
.welcomePanel h2 {color:#088137;}
.welcomePanel p {padding:0 0 6px 0;}
.welcomePanel h5 {line-height:140%;}
.welcomePanel div {position:relative;}
.welcomePanel div img {position:absolute;bottom:0;left:0px;margin-bottom:10px;}



.redPanel {background:#e84d5f;}
.gallerySlider {background:#e84d5f;padding:20px 50px;margin-top:30px;margin-bottom:30px;position:relative;}
.gallerySlider h2 {color:#fff;}
.featurePane {background:#fff;padding-left:0;padding-right:0;margin:0 30px 0 0;min-height:320px;position:relative;}
.featurePane h3, .featurePane a h3 {color:#e84d5f;text-decoration:none;text-transform:uppercase;font-size:110%;padding:15px 15px 5px 15px;margin:0 0 6px 0;}
.featurePane p,.featurePane a p {color:#484848;font-size:100%;padding:0 15px 45px;line-height:130%;}
.featurePane .more {background:#941d4c;color:#fff;font-size:90%;font-weight:600;width:100%;text-decoration:none;text-transform:uppercase;border:none;text-align:right;padding:10px 12px 8px;letter-spacing:0.05em;position:absolute;bottom:0;}
button.more span {font-size:80%;}

.slideLeft {width:52px;height:104px;position:absolute;top:30%;left:-5%;background:url('../images/controls-ls.png') no-repeat center left;background-size:200%;border:none;display:block;opacity:0.6;}
.slideRight {width:52px;height:104px;position:absolute;top:30%;right:-5%;background:url('../images/controls-ls.png') no-repeat center right;background-size:200%;border:none;display:block;opacity:0.6;}
.slideLeft:hover, .slideRight:hover {opacity:1;}
.slideLeft:focus, .slideRight:focus {outline:none;}


.whitePanel {background:#fff;}
.activity-contactPanel {padding-top:40px;padding-bottom:80px;}
.activity-contactPanel h2 {color:#088137;}
.activity ul {padding:15px 0 0 0;}
.activity ul li {list-style-type:none;padding-bottom:4px;}
.activity ul li a span{font-size:80%;color:#088137;}
.activity ul li a {font-size:100%;font-weight:400;width:100%;text-decoration:none;text-transform:uppercase;color:#484848;}
.activity ul li a:hover {color:#088137;}
.form  p {margin-bottom:10px;}
.form p.required {font-size:100%;font-weight:600;}
span.req {color:#e84d5f;}
.form form {margin-top:20px;margin-bottom:40px;}
.button {color:rgba(255,255,255,0.5);background:#088137;text-transform:uppercase;padding-left:30px;padding-right:30px;border-radius:0;}
form .button:hover, form .button:active {color:rgba(255,255,255,1);}

.photoPanel {background:#088137;padding-bottom:60px;}
.photoPanel .row {}
.basePhoto01 img {padding-right:30px;padding-left:120px;margin-top:-40px;}
.basePhoto02 img {padding-right:75px;padding-left:75px;margin-top:-40px;}
.basePhoto03 img {padding-left:30px;padding-right:120px;margin-top:-40px;}

.footer {background:#252525;padding:50px 60px 10px 60px;}
.footer ul {list-style-type:none;margin:0 0 20px;padding:0;}
.footer ul li {display:inline-block;font-size:90%;color:#fff;text-transform:uppercase;padding-right:10px;padding-left:10px;border-right:1px solid #fff;}
.footer ul li:first-child {padding-left:0;}
.footer ul li:last-child {border-right:none;padding-right:0;}
.footer ul li a {color:#fff;}
.footer ul li a:hover {color:#f6e04f;}
.footer p {color:#aaaaaa;font-size:90%;margin-bottom:30px;}
.footer p a {color:#aaaaaa;text-decoration:none;}
.footer p a:hover {color:#fff;text-decoration:none;}
body#home .footer ul li a.home, body#activity .footer ul li a.activity, body#history .footer ul li a.history, body#news .footer ul li a.news, body#shop .footer ul li a.shop, body#about .footer ul li a.about, body#contact .footer ul li a.contact {color:#f6e04f !important;}
	.footer .pull-right p {margin-bottom:30px;text-align:right;}



/* .col-md */
@media (min-width:992px) and (max-width:1199px){ 
	.masthead {background: #fff;padding-right:30px;padding-left:30px;}
	.navbar-nav li a {color:#fff;font-size:100%;font-weight:400;letter-spacing:0em;text-transform:uppercase;padding:0px 15px 0px;}
	.photoPanel {background:#088137;padding-bottom:60px;}
.photoPanel .row {}
	.masthead h1 {font-size:400%;text-align:right;display:block;margin-top:14px;}
.basePhoto01 img {padding-right:30px;padding-left:100px;margin-top:-40px;}
.basePhoto02 img {padding-right:65px;padding-left:65px;margin-top:-40px;}
.basePhoto03 img {padding-left:30px;padding-right:100px;margin-top:-40px;}
	
		.footer ul li {display:block;font-size:90%;color:#fff;text-transform:uppercase;padding-right:0px;padding-left:0px;border-right:none;margin-bottom:6px;}
	.footer ul li:first-child {padding-left:0;}
	.footer ul li:last-child {border-right:none;padding-right:0;}
	.footer ul li:first-child {padding-left:0;}
	.footer ul li:last-child {border-right:none;padding-right:0;}
	.footer p {margin-bottom:8px;text-align:left;}
	.footer .pull-right p {margin-bottom:30px;text-align:left;}
}

/* .col-sm */
@media (min-width:768px) and (max-width:991px){
	.masthead {background: #fff;padding-right:15px;padding-left:15px;}
	.row-eq-height {display:-webkit-box;display:-webkit-block;display:-ms-flexbox;display:block;}
	ul.social li a {padding-bottom:15px;}
	.masthead h1 {font-size:360%;padding-top:7px;}
	.navbar-nav li a {color:#fff;font-size:90%;font-weight:400;letter-spacing:0em;text-transform:uppercase;padding:0px 10px 0px;}
	.welcomePanel div img {position:relative;bottom:0;left:0px;margin-bottom:10px;}
	.activity ul {padding:15px 0 20px 0;}
	.photoPanel .row {}
.basePhoto01 img {padding-right:30px;padding-left:60px;margin-top:-40px;}
.basePhoto02 img {padding-right:45px;padding-left:45px;margin-top:-40px;}
.basePhoto03 img {padding-left:30px;padding-right:60px;margin-top:-40px;}
	
	.footer ul li {display:block;font-size:90%;color:#fff;text-transform:uppercase;padding-right:0px;padding-left:0px;border-right:none;margin-bottom:6px;}
	.footer ul li:first-child {padding-left:0;}
	.footer ul li:last-child {border-right:none;padding-right:0;}
	.footer ul li:first-child {padding-left:0;}
	.footer ul li:last-child {border-right:none;padding-right:0;}
	.footer p {margin-bottom:8px;text-align:left;}
	.footer .pull-right p {margin-bottom:30px;text-align:left;}
}

/* .col-xs */
@media (max-width:767px){
	
	h2 {font-size:260%; font-family: 'Tiro Telugu', serif; font-weight:100;margin:0;padding:0 0 10px 0;}
	
	.row-eq-height {display:-webkit-box;display:-webkit-block;display:-ms-flexbox;display:block;}
	.masthead {padding-right:15px;padding-left:15px;}
	.masthead .logo a img {display:block;margin:8px 0;min-height:1px;max-width:100px;}
	.masthead .info {padding-left:0;padding-top:0;margin-top:5px;}
	.masthead .info ul.social li {list-style-type:none;color:#000;display:block;margin-right:0px;padding-bottom:20px;}
	
	ul.social {display:none;}
	.navbar-header ul.social2 {padding-top:15px;display:block;}
	.navbar-header ul.social2 li {display:inline-block;padding-right:10px;font-size:110% !important;}
	.navbar-header ul.social2 li:last-child {padding-right:0px;}
	.navbar-header ul.social2 li a img {margin-top:-2px;}
	.navbar-header ul.social2 li a {color:#fff;text-decoration:none;}
	
	.masthead h1 {font-size:300%;padding-top:12px;}
	.nav {margin:10px 0;}
	.navbar {margin-bottom:0;border-radius:0;border:none;min-height:40px;padding:0;}
	.navbar-nav li {border-right:none;}
	.navbar-nav li a {color:#fff;font-size:100%;font-weight:400;letter-spacing:0em;text-transform:uppercase;padding:10px;}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {color:#f6e04f !important;background:none !important;}
	.navbar-collapse {float:left;width:100%;padding-left:15px;}
	.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
	.navbar-header {padding-bottom:4px;padding-left:15px;}
	.navbar-header ul.social2 li a {display:inline-block;}
	.masthead h1 {font-size:6.3vw;}
	
	.mastImg img {display:none;}
	.welcome {background: #f9b22e url('../images/mastheadImg-home.jpg');background-repeat: no-repeat; background-size: 200%;}
	
	.welcomePanel {background:#fff;padding:40px 10px;margin-top:200px;margin-bottom:60px;box-shadow: 0px 6px 6px 2px rgba(0,0,0,.3);position:relative;}
	.welcomePanel div img {position:relative;bottom:0;left:0px;margin-bottom:10px;}
	.welcome .row {margin-left:15px;margin-right:15px;}
	
	.lSSlideOuter {}
	.slideLeft {left:-10%;background-size:180%;}
	.slideRight {right:-10%;background-size:180%;}
	
	.activity ul {padding:15px 0 20px 0;}
	.form {padding-bottom:30px;}
	
	.photoPanel .row {}
	.basePhoto01 img {padding-right:10px;padding-left:15px;margin-top:-40px;}
	.basePhoto02 img {padding-right:15px;padding-left:10px;margin-top:-40px;}
	
	.footer {background:#252525;padding:50px 30px 10px;}
	.footer ul {list-style-type:none;margin:0 0 20px;padding:0;}
	.footer ul li {display:block;font-size:90%;color:#fff;text-transform:uppercase;padding-right:0px;padding-left:0px;border-right:none;margin-bottom:6px;}
	.footer ul li:first-child {padding-left:0;}
	.footer ul li:last-child {border-right:none;padding-right:0;}
	.footer ul li a {color:#fff;}
	.footer ul li a:hover {color:#f6e04f;}
	.footer p {margin-bottom:8px;text-align:left;}
	.footer .pull-right p {margin-bottom:30px;text-align:left;}
}

