<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% include_cached preconnects.html %}
    
  {% if page.title == "Home"%}
	<title>Welcome to Walbottle Village Tenants &amp; Residents Association Website</title>
  {% else %}
  <title>{{page.title}}</title>
  {% endif %}
	     <!-- Favicon -->  
         {% include_cached icons.html %}
         
</script>
    <!-- Bootstrap core CSS -->
        {% include_cached styles.html %}
   
    {% seo title=false %}
</head>
<body id="{{page.bodytag}}">
  <div class="container-fluid masthead">
    <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 logo">
 
            <a href="{{'/' | relative_url}}" title="home page" target="_self"><img src="{{'/assets/images/WalbottleVillageLogo.svg' | relative_url}}" alt="Walbottle Village Tenants & Residents Association logo" onerror="this.onerror=null; this.src={{'assests/images/WalbottleVillageLogo.svg' | relative_url}} class="img-responsive"/></a>
          </div>
          <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 info">
            <ul class="social col-lg-12 col-md-12">
              <li><a href="https://www.facebook.com/groups/247285659849433" title="visit our Facebook group in a new window" target="_blank" accesskey="f"><img src="{{'/assets/images/facebook.png' | relative_url}}" width="auto" height="26px" alt="facebook logo"> Our Facebook Group</a></li>
              <li><a href="mailto:walbottlera@gmail.com" title="email Walbottle Village News" accesskey="e"><img src="{{'/assets/images/email.png' | relative_url}}" width="auto" height="26px" alt="email icon"> Email Walbottle Village News</a></li>
              </ul>
            <div class="col-lg-12 col-md-12">
              <h1>Walbottle Village News</h1>
            </div>
          </div>
    </div>
  </div> <!-- /container-fluid -->
  {%include nav.html%}
    <main>
        {{content}}
        
<div class="container-fluid photoPanel">
	<div class="row">

		<div class="basePhoto01 col-sm-4 col-xs-6">
		<img src="{{'assets/images/basePic01.jpg' | relative_url}}" class="img-responsive" alt="Walbottle Dene"/>
		</div>
		<div class="basePhoto02 col-sm-4 col-xs-6">
		<img src="{{'assets/images/basePic02.jpg' | relative_url}}" class="img-responsive" alt="A brick from Walbottle brickworks"/>
		</div> 
    <div class="basePhoto03 col-sm-4 col-xs-0 hidden-xs">
    		<img src="{{'assets/images/basePic03.jpg' | relative_url}}" class="img-responsive" alt="Walbottle Village Institute"/>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>
	</div>
    </main>
    <footer class="container-fluid footer">
        {% include_cached footer.html %}
    </footer>
    {% include_cached loadjs.html %}
  {% if page.title == "Home"%}
    {% include_cached lightslider.html %}
    {% endif %}
</body>
 
</html>
''