#logo{
    img{
        max-width: 200px;
        max-height: 100px;

    }   
}

#socials{
    width: 20%;
    display: block;
    margin-left: 70%;
    a{
        color: black;
    }
    #facebook{
        display: inline-block;
        .fa-brands{
            color: #005eff;
            }
    }
    #email{
        display: inline-block;
    }
}

#site-name{
    p{
        font-size: xx-large;
    }
}

nav{
 &#header{   
    width: 100%;
    display: inline-block;
    background-color: $green;
}
    ul{
        list-style: none;
        float: right;
    }
        li{
            float: left;
            margin: 20px;
            border-right: #005eff thin solid;
            a{
                display: block;
                padding: 20px;
                text-decoration: none;
                color: wheat;
                text-transform: uppercase;
           }
        }
}