#logo{
    img{
        max-width: 200px;
        max-height: 100px;

    }   
}


nav{
    padding-left: 100%;
    float: right;
    display: block;
    background-color: $green;

    ul{
        list-style: none;

        li{
            border-right: 10px;
            margin: 20px;
            a{
                padding: 20px;
                text-decoration: none;
                color: black;

                :visited{
                    color: black;
                }
            }
        }
    }
}