main{
    
    margin: 0 auto;
   

    p{
        width: 80%;
        margin: 0 auto;
    }
}

div{
    #news{
        background-color: $pink;
        min-height: 200px;

        #post{
            background-color: white;
            h2{
                color: $pink;
            }
        }
    }
}