main{
    display: block;
    float: none;
   
}

div{
    .page__hero{
        height: 200px;
        width: 100%;
        background-size: contain;
        height: 200px;
        background-repeat: no-repeat;
        }

        #welcome{
            border: black thick solid;
            width: 70%;
            margin: 0 auto;
        }

}